@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&family=Merriweather+Sans:ital@0;1&family=Oswald&family=Work+Sans:wght@400;500;800&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

